<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registration</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
  
    <div  class="md:bg-[url('/ipad.jpeg')] lg:bg-[url('/wall.jpeg')] sm:bg-[url('/ipad.jpeg')] bg-no-repeat bg-cover bg-[url('/small.jpeg')]  h-full w-full lg:w-full lg:h-full  flex flex-col items-center justify-center min-h-screen ">
        <h1 id="heading" class="text-md lg:text-3xl sm:text-2xl text-center font-bold text-gray-800 mb-:w-6 font-mono " >Welcome to login page User</h1>
        
        <div class="bg-white bg-opacity-50 text-black px-5 pb-5 mt-4 rounded-3xl">
            <!--If password or user name is wrong-->
            <% if (typeof data !== 'undefined') { %>
                <span class="underline text-red-800 text-xs"><%= data.data %></span> 
            <% } %>
            
            <form action="/login" method="post" class=" flex flex-col space-y-1 font-mono lg:flex-col  lg:space-y-0 mt-5 lg:text-1xl rounded-md">
            

            User<input type="text" placeholder="username" name="user">
           
            Password<input type="password" name="password" placeholder="password">

        <a href="/forgot" class="text-blue-800 text-xs">forgot password</a>

            <input type="submit" class="border bg-red-200 mt-3" value="Log In">
        </form>
          
        </div>
      </div>
    
</body>
</html>